/* ELEMENTS */
legend {
  margin-bottom: .75em;
}

/* HEADER */
#version {
  float: right;
  font-size: 1.2rem;
  margin: .5rem 0;
}

#firstInstallInfo {
  display: none;
  text-align: center;
}

/* CONTENT */
#content {
  padding: 1rem .75rem;
}

/* NOTIFICATIONS */
#notificationBannerReviewLinks {
  display: flex;
  column-gap: 1em;
}

/* SETTINGS SECTION */
#searchFilteringSettings>div {
  display: inline-block;
}

#legend > span {
  margin-left: 8px;
}

#legend > div {
  margin-left: 16px;
  display: inline-flex;
  align-items: center;
  gap: 1em;
}

#breezewikiHostNote {
  margin-bottom: 8px;
}

/* WIKI FILTERS */
#wikiFiltersContainer {
  width: fit-content;
  margin: 0 auto;
}

#wikiFiltersContainer>div {
  display: grid;
  gap: 0.5em;
  grid-template-columns: 1fr 1fr;
  margin: 1em auto;
  max-width: 30em;
}

#wikiFiltersContainer>div>div {
  text-align: right;
  align-self: end;
}

@media (max-width: 35em) {
  #wikiFiltersContainer>div {
    grid-template-columns: 1fr;
  }

  #wikiFiltersContainer>div>div {
    text-align: center;
  }
}

/** TOGGLE TABLE OPTIONS **/
#toggles {
  --table-border-radius: 5px;
  table-layout: fixed;
  width: 100%;
  background-color: var(--base-color-secondary);
  border: 1px solid var(--base-color-outline-light);
  border-radius: var(--table-border-radius);
  border-spacing: 0px;
}

#toggles col#icon-col,
#toggles col.button-col {
  width: 1.75rem;
}

#toggles col#lang-col {
  width: 2rem;
  visibility: visible;
}

#toggles col#lang-col.hidden-col {
  width: 0px;
  visibility: collapse;
}

#toggles tr.togglesHeader td:nth-last-child(4),
#toggles tr.site-container td:nth-last-child(4) {
  padding-right: 2px;
}

#toggles tr.togglesHeader td:nth-last-child(3),
#toggles tr.site-container td:nth-last-child(3) {
  padding-left: 2px;
  border-left: 1px solid var(--base-color-outline-light);
}

#togglesColumnLabels th {
  padding: 5px;
  font-weight: 600;
  font-size: .9em;
  white-space: break-spaces;
  line-height: initial;
  text-align: center;
}

#togglesKeys th,
#togglesDefaults th {
  text-align: right;
  font-weight: normal;
  font-style: italic;
  padding: .5em;
  white-space: break-spaces;
  font-size: .9rem;
}

#toggles td,
#toggles th {
  background-color: var(--base-color-secondary);
}

#toggles thead tr:first-child :first-child {
  border-top-left-radius: var(--table-border-radius);
}

#toggles thead tr:first-child :last-child {
  border-top-right-radius: var(--table-border-radius);
}

#toggles tbody tr:last-child :first-child {
  border-bottom-left-radius: var(--table-border-radius);
}

#toggles tbody tr:last-child :last-child {
  border-bottom-right-radius: var(--table-border-radius);
}

#togglesKeys button:hover::after,
#togglesDefaults input:hover::after {
  content: attr(data-title);
  padding: 5px;
  width: max-content;
  border: 1px solid var(--base-color-outline-dark);
  position: absolute;
  color: #fff;
  background-color: var(--base-color-dark);
  font-size: 0.8rem;
  z-index: 999999;
  left: 0px;
  bottom: -20px;
  transform: translateX(calc(-100% - 5px));
}

#togglesKeys button {
  all: unset;
  width: var(--default-icon-size);
  height: var(--default-icon-size);
  background-repeat: no-repeat;
  background-position: center;
  background-size: var(--default-icon-size);
  cursor: pointer;
}

button#setAllWikiDisabled,
button#setAllSearchEngineDisabled {
  background-image: url('../../images/toggle-disabled.png');
}

button#setAllWikiAlert {
  background-image: url('../../images/toggle-alert.png');
}

button#setAllWikiRedirect {
  background-image: url('../../images/toggle-redirect.png');
}

button#setAllSearchEngineReplace {
  background-image: url('../../images/toggle-replace.png');
}

button#setAllSearchEngineHide {
  background-image: url('../../images/toggle-hide.png');
}

#togglesKeys button:focus {
  outline: revert;
}

#togglesDefaults input[type=radio] {
  appearance: none;
  width: var(--default-icon-size);
  height: var(--default-icon-size);
  background-image: url('../../images/star-off.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: var(--default-icon-size);
}

#togglesDefaults input[type=radio]:checked {
  background-image: url('../../images/star-on.png');
}

#toggles tr td:has(input),
#toggles tr td:has(button) {
  text-align: center;
  vertical-align: middle;
  position: relative;
}

#toggles input {
  cursor: pointer;
  margin: 0;
}

#toggles tbody tr:hover {
  background-color: var(--base-color-primary-dark);
}

#toggles tbody {
  font-size: 0.8rem;
  text-align: center;
  vertical-align: middle;
}

#toggles img {
  line-height: 1.2rem;
}

#toggles tbody tr td img {
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
}

#toggles tbody .wiki-description {
  white-space: nowrap;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: .5rem 0;
}

#toggles input.toggleWikiDisabled,
#toggles input.toggleSearchEngineDisabled {
  accent-color: var(--disabled-color);
}

/** CUSTOM SEARCH ENGINE **/
#customSearchEnginesContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

#customSearchEnginesList>div {
  display: flex;
  flex-direction: row;
  padding: 0.5em .5em;
  min-height: 20px;
  align-items: center;
  gap: 0.5em;
}

#customSearchEnginesList>div:hover {
  background-color: #e8f0fe;
}

.customSearchEngineHostname {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

#customSearchEnginesAdd {
  display: flex;
  gap: 0.5em;
}

#customSearchEnginesAdd input {
  width: 25em;
}
